[Unit]
Description=FiSeR Investor
After=network.target

[Service]
User=root
WorkingDirectory=/root/investor
ExecStart=/bin/bash -c 'source /root/investor/.venv/bin/activate && exec streamlit run app.py'
Restart=always

[Install]
WantedBy=multi-user.target
